/* styles/globals.css */
@tailwind base ;
@tailwind components;
@tailwind utilites;

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #d4e9f3, #fbf3fb);
  color: #333;
  margin: 0;
  padding: 0;
}

main {
  padding: 20px;
}

input {
  margin: 10px 0;
  padding: 10px;
  border: 20px;
  border-radius: 4px;
  width: 100%;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #ff7e5f;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #feb47b;
}
.searchBox {
  border-radius: 8px;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
}

.filterBox {
  border-radius: 8px;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
}
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.shake:hover {
  animation: shake 0.5s;
}

.arsenal-sc-regular {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.arsenal-sc-bold {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.arsenal-sc-regular-italic {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.arsenal-sc-bold-italic {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 700;
  font-style: italic;
}
.playwrite-cz-title {
  font-family: "Playwrite CZ", cursive;
  font-optical-sizing: auto;
  font-weight:  400;
  font-style: normal;
}
