/* HomePage.module.css */

.searchBox {
    border-radius: 8px;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
  }
  
  .filterBox {
    border-radius: 8px;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
  }
  